html {
  box-sizing: border-box; /* il comportamento di default è content-box, con border-box, larghezza e altezza includono anche il padding e i bordi, rendendo più intutivo il calcolo delle dimensioni */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

.navigazione ul {
  display: flex; 
  list-style: none; 
  gap: 40px; 
}

.navigazione li a {
  text-decoration: none; 
  font-weight: bold;
  color: white; 
}

.maininfo {
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
}


img {
  max-width: 100%;
  width: 420px;
  height: 443px;
  object-fit: cover;
}

header {
  display: flex;
  background-color: #455623;
  color: white;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.titolo h1 {
  font-size: 30pt;
  margin: 0;
}
.titolo h4 {
  font-size: 18pt;
  font-style: italic;
  margin: 0;
}

h3 {
  color: #455623;
  font-size: 18pt;
  margin-bottom: 15px;
}

p {
  font-size: 14pt;
}

.text1, .text2, .text3 {
width: 400px;
}

.blocchi {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px; /* spazio tra testo e immagine */
  padding-top: 50px;
}


footer {
  padding-top: 100px;
  padding-bottom: 30px;                       
  color: #455623;           
  text-align: center;
}



@media (max-width:700px) /* o la misura che volete */  {
 header {
  text-align: center;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}
.titolo h1 {
  font-size: 20pt;
  margin: 0;
}
.titolo h4 {
  font-size: 10pt;
  font-style: italic;
  margin: 0;
}
a {
  font-size: 12pt;
}
.maininfo{
  max-width: 650px;
}
.blocchi {
  flex-direction: column;
  margin: auto;
}



footer {
  font-size: 12pt;
  margin-top: 50px;
  margin-bottom: 20px;
}
}
